@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&family=Cairo:wght@200;300;400;500;600;700;800;900;1000&display=swap");
* {
  font-family: var(--font), sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-y: scroll;
  overflow-x: hidden;
}
